{% extends 'LTCoreBundle::layout.html.twig' %}

{% block body -%}
    <h3>{{ 'Photographers list'|trans }}</h3>

    <table class="table table-bordered table-striped table-condensed table-responsive">
        <thead>
            <tr>
                <th>{{ 'Id'|trans }}</th>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Firstname'|trans }}</th>
                <th>{{ 'Nickname'|trans }}</th>
                <th>{{ 'Description'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('photograph_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.firstname }}</td>
                <td>{{ entity.nickname }}</td>
                <td>{{ entity.description }}</td>
                <td>
                  <a class="btn btn-primary" href="{{ path('photograph_edit', { 'id': entity.id }) }}">éditer</a>
		{#{% if entity.user.username == true %}
		  <a class="btn btn-danger" href="{{ path('lt_photos_index', { '_switch_user': entity.user.username }) }}">usurpation</a>
		{% endif %}#}
                </td>
            </tr>
        {% endfor %}
	  <tr><td colspan="6"><a class="btn btn-success" href="{{ path('photograph_new') }}">Nouveau photographe</a></td></tr>
        </tbody>
    </table>

{% endblock %}
