{% extends "LTCoreBundle::layout.html.twig" %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
<style type="text/css">
#portfolio {
  margin: 0 auto;
}
.bloc {
  margin: 5px;
  height: 100px;
  width: 150px;
}
.utility {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(66,139,202,0.75);
  width: 100%;
  height: 100%;
  padding: 2%;
  display: none;
  text-align: center;
  color: #fff !important;
  z-index: 2;
}

.thumbnail2 {
    //position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(216, 216, 216, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:10;
}
.censured {
    border: 2px solid red;
}
.unvalid {
    border: 2px solid gray;
}
.valid {
    border: 2px solid green;
}
</style>
{% endblock %}

{% block body %}
{{ wo_render_breadcrumbs() }}

<center><h4>
  <div class="btn-group">
      <a class="btn btn-default" href="">Toutes</a>
    {% for photograph in photographs %}
      <a class="btn btn-default" href="#{{ photograph.id }}">Photos de {{ photograph.nickname }}</a>
    {% endfor %}
  </div>
</center></h4>

<div id="portfolio">
  <div id="links">
  {% for photo in photos %}
  <div class="thumbnail2">
    <div class="bloc {{ photo.photograph.id }}">
      <a href="{{ asset(photo.getWebPath) }}" data-prototype="&lt;span class=&quot;glyphicon glyphicon-download-alt&quot;&gt;Test&lt;/span&gt;">
        <img src="{{ asset(photo.getWebPath | imagine_filter('my_thumb')) }}" id="thumb" {% if photo.censured %}class="censured"{% endif %}{% if not photo.censured and not photo.valid %}class="unvalid"{% endif %}{% if not photo.censured and photo.valid%}class="valid"{% endif %} width="150px" height="100px">
      </a>
        <div class="caption">
          <br />
          <br />
          <p><a href="{{ path('lt_photos_valid_photo', { 'photo': photo.id }) }}" class="btn"><span class="glyphicon glyphicon-ok"></span></a>
          <a href="{{ path('lt_photos_censure_photo', { 'photo': photo.id}) }}" class="btn"><span class="glyphicon glyphicon-remove"></span></a></p>
        </div>
    </div>
  </div>
  {% endfor %}
  </div>
</div>

<script src="http://www.grafikart.fr/demo/jQuery/Masonry/js/masonry.js"></script>

<script type="text/javascript">
jQuery(function($){
	var portfolio = $('#portfolio');
	portfolio.masonry({
		isAnimated: true,
		itemSelector:'.bloc:not(.hidden)',
		isFitWidth:true,
		columnWidth:160
	});

	$('h4 a').click(function(e){
		var cls = $(this).attr('href').replace('#','');
		portfolio.find('.bloc').removeClass('hidden'); 
		portfolio.find('.bloc:not(.'+cls+')').addClass('hidden');
		portfolio.masonry('reload'); 
		portfolio.find('.'+cls).show(500);
		portfolio.find('.bloc:not(.'+cls+')').hide(500);

		location.hash = cls;
		e.preventDefault(); 
	});

	var bloc = portfolio.find('.bloc:first'); 
	var cssi = {width:bloc.width(),height:bloc.height()};
	var cssf = null; 

	if(location.hash != ''){
		$('a[href="'+location.hash+'"]').trigger('click');
	}
})
</script>

<script type="text/javascript">
$(document).ready(function() {

 $("[rel='tooltip']").tooltip();    
 
    $('.thumbnail2').hover(
        function(){
            $(this).find('.caption').slideDown(250); //.fadeIn(250)
        },
        function(){
            $(this).find('.caption').slideUp(250); //.fadeOut(205)
        }
    ); 


});
</script>

{% endblock %}


