{% extends "LTCoreBundle::layout.html.twig" %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
<link rel="stylesheet" href="{{ asset("bundles/LTPhotos/css/filtrify.css") }}">

<style>
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

#container {
  list-style: none;
}
</style>
{% endblock %}

{% block body %}
{{ wo_render_breadcrumbs() }}

<div class="well">
  <div id="placeHolder"></div>
</div>

<ul id="container">
  {% for photo in photos %}
  <li {% if photo.tags|length is not empty %}data-tag="{% for tag in photo.tags %}{{ tag.tag ~ ', ' }}{% endfor %}" {% endif %}data-photographe="{{ photo.photograph.nickname }}">
    <a href="{{ asset(photo.getWebPath | imagine_filter('rotate_gallery')) }}">
      <img src="{{ asset(photo.getWebPath | imagine_filter('my_thumb')) }}" id="thumb" width="150px" height="100px">
    </a>
  </li>
  {% endfor %}
</ul>

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="{{ asset("bundles/LTPhotos/js/filtrify.min.js") }}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.js"></script>

<script type="text/javascript">
var version1dejQuery = $.noConflict(true);

(function($) {
$(function() {
    var container = $("#container");
    
    container.isotope({
        itemSelector : 'ul#container > li',
        layoutMode : 'fitRows'
    });
    
    $.filtrify("container", "placeHolder", {
        hide     : false,
        callback : function ( query, match, mismatch ) {
            container.isotope({ filter : $(match) });
        },
	close : true
    });

});
})(version1dejQuery);
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>

<script type"text/javascript">
var version2dejQuery = $.noConflict(true);

(function($) {
//on utilise ici la version 2 de jquery avec $

document.getElementById('container').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event};
        
    var links = $.makeArray($("#container li").filter(function () {
	if ($(this).css("display") != "none") {
	    return $(this);
	}
    }).children());

    blueimp.Gallery(links, options);
};

})(version2dejQuery);
</script>

{% endblock %}


