{% extends "LTCoreBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Maintenance{% endblock %}

{% block body %}

<p>Sur cette page vous pouvez supprimer toutes les photos censurées</p>

<div class="alert alert-danger" role="alert">Attention cette action est irréversible !</div>

<p>Ci-dessous la liste des photos qui vont être supprimées :</p>

<table class="table table-striped table-bordered">
  <tr>
    <th>Photo</th>
    <th>Nom</th>
    <th>Evènement</th>
  </tr>
{% for photo in photos %}
  <tr>
    <td><img src="{{ asset(photo.getWebPath | imagine_filter('my_thumb')) }}" alt="null"></td>
    <td>{{ photo.originalName }}</td>
    <td>{{ photo.event.name }}</td>
  </tr>
{% endfor %}
</table>

<a href="{{ path('maintenance_censured_delete') }}" class="btn btn-warning" role="button">Supprimer les photos</a>

{% endblock %}
